@model MyBookList.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Book Details</h2>

<h4 class="coolContainerTitel"> @Html.DisplayFor(model => model.Name)</h4>
<h5 class="coolContainerYear"> (@Html.DisplayFor(model => model.Year)) </h5>

<div>
    <div class="col-lg-12">
        @if (Model.BookImagePath == null)
        {
            <img src="http://placehold.it/200x200" alt="Profile image" />
        }
        else
        {
            <img src="@Model.BookImagePath" alt="Profile image" height="275" width="175"/>
        }
    </div>

   
    <div class="col-lg-8 ">
        <p></p>
        @Html.DisplayFor(model => model.Synopsis)
        <p></p>
    </div>


    <dl class="dl-horizontal-SubDetails blockcenter gray-round col-lg-8 col-md-offset-1">
        <dt>
            @Html.DisplayNameFor(model => model.BooksGenres.FirstOrDefault().Genre)
        </dt>

        <dd>
            &ensp;
            @foreach (var item in Model.BooksGenres)
            {
                <mydt>
                    &nbsp; @Html.DisplayFor(modelItem => item.Genre.Name),
                </mydt>
            }
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.BooksAuthors.FirstOrDefault().Author)
        </dt>

        <dd>
            &ensp;
            @foreach (var item in Model.BooksAuthors)
            {
                <mydt>
                    &nbsp; @Html.DisplayFor(modelItem => item.Author.FullName),
                </mydt>
            }
        </dd>
    </dl>
</div>

@*  
  ---- Har flyttede det til Edith Book ----
    <div class="col-lg-5 col-md-offset-7">
        @Html.ActionLink("Add Genre", "CreateGenretoBook", new { bookID = Model.ID }, new { @class = "giveJob_btn btn btn-group" }) |
        @Html.ActionLink("Add Author", "CreateAuthortoBook", new { bookID = Model.ID }, new { @class = "giveJob_btn btn btn-group" })
    </div>
*@


<div class="col-lg-12">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</div>
