@model IEnumerable<MyBookList.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row" style="margin-top:20px">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <h5 class="coolContainerTitel"> @Html.DisplayFor(modelItem => item.Name)</h5>
                <h5 class="coolContainerYear"> (@Html.DisplayFor(modelItem => item.Year))</h5>

                <br /><br />

                @if (item.BookImagePath == null)
                {
                    <a href="@Url.Action("Details", "Books", new {id = item.ID})">
                        <img src="http://placehold.it/200x200" class="thumbnail" />
                    </a>

                }
                else
                {
                    <a href="@Url.Action("Details", "Books", new {id = item.ID})">
                        <img src="@item.BookImagePath" class="thumbnail" height="275" width="175" />
                    </a>
                }

                <div class="EditAndDeleteBtn">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </div>
            </div>
        }


    </div>

</div>


